
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;300;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
width: calc(100vw - 16rem);
/* width: 100%; */

}
.section4{
    display: flex;
    max-width: 62.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17.2vw;
}
.header{
    padding-top: 4.16vw;
}
.header ul{
    color: #000;
    font-family: Roboto;
font-size: 1.6vw;
font-style: normal;
font-weight: 400;
line-height: 150%;
width: 45.9vw;
height: 25.97vw;
}
.section5{
   display: flex;
   max-width: 70.4vw;
   margin-left: auto;
   margin-right: auto;
  
}
.header2{
    /* max-width: 1271px;
    margin-left: auto;
    margin-right: auto; */
 display: flex;
 /* flex-direction: row; */
 gap: 2.56vw;
 
}
section h2{
    color: #000;
    font-family: 'Roboto Slab', serif;
font-size: 3.8vw;
font-style: normal;
font-weight: 700;
line-height: 101.385%;
}
.head{
 margin-top: 6.59vw;

}

div .child{
    margin-bottom: 2.8vw;
    border-radius: 2vw;
background: #FFF;
box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
width: 27.7vw;
/* height: auto; */
/* width: 399px; */
height: 22.7vw;

}

div img{
   
    width: 27.7vw;
height: 11.11vw;

}
div .child p{
    padding-left: 1.38vw;
}
div .heading{
  
    color: #000;
font-family: Roboto;
font-size: 2.08vw;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.paragraph{
    width: auto;
    padding-bottom: 1.45vw;
   
}
div .time{
    padding-top: 2vw;
    color: #000;
font-family: Roboto;
font-size: 1.7vw;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
div .time2{
  
    color: #000;
font-family: Roboto;
font-size: 1.7vw;
font-style: normal;
font-weight: 400;
line-height: 130%;  
}
.header h2{
    padding-bottom: 1.38vw;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header ul{
    font-size: 1.36vw;
    width: 37.44vw;
height: 21.13vw;
  }
  section h2{
    font-size: 3.1vw;
    width: 37.6vw;
height: 5.25vw;
/* padding-left: 20px; */
}

.head{
    margin-top: 5.3vw;
   }
   .section5{
    display: flex;
    max-width: 52.3vw;
    margin-left: auto;
    margin-right: auto;
   
 }
.header{
    padding-top: 1.1vw;
}
   div .child{
    margin-bottom: 2.2vw;
    width: 22.5vw;
    height: 18.5vw;
}
div img{
    width: 22.5vw;
    height: 9.04vw;
}
div .heading{
    font-size: 1.6vw;

}
div .time{
    padding-top: 1.25vw;
font-size: 1.36vw;

}
div .time2{
font-size: 1.36vw;
}
.section4{
    max-width: 46.9vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13.6vw;
}
  }

  @media (min-width:320px) and (max-width:767px){
    .header ul{
        font-size: 1.69vw;
        width: 38.9vw;
        height: 22.6vw;
      }
      section h2{
        font-size: 3.6vw;
        width: 40.4vw;
        height: 5.64vw;
    /* padding-left: 20px; */
    }
    .header2{
 
        display: flex;
       flex-direction: column;
    padding-top: 3.12vw;
        gap: 3.12vw;
        
       }
       .header{
        padding-top: 1.3vw;
    }
    .head{
        margin-top: 2.6vw;
        
       
       }
       .section5{
      
        max-width: 0;
        margin-left: auto;
        margin-right: auto;
       
     }
       div .child{
        margin-bottom: 2.9vw;
        width: 30.2vw;
        height: 24.7vw;
    }
    div img{
        width: 30.2vw;
        height: 12vw;
    }
    div .heading{
        font-size: 2.2vw;
    
    }
    div .time{
        padding-top: 2.3vw;
    font-size: 1.8vw;
    
    }
    div .time2{
    font-size: 1.82vw;
    }
    .section4{
        /* justify-content: center; */
        max-width: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10.4vw;
        
    }
  }